MONGO_CONNECTION_STRING=mongodb://localhost:27017
MONGODB_DATABASE_NAME=SignatureIDS

ML_MODEL_URL=http://localhost:5000/predict
DASHBOARD_API_URL=http://localhost:8080/api/alerts

NETWORK_INTERFACE=eth0
